 table.kepala {
  margin: auto;
  width: 72%;
  background-color: salmon;
 }
div.sss {
  overflow: scroll;
  width: 70%;
  height: 300px;
  padding: 10px;
  background: #ccc;
  margin: auto;
}
table.scroll {
  width: 100%;

}

table.scroll thead {
  background-color: salmon;
}

a.hapus {
  background-color: red;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  color: white;

}

a.ubah {
  background-color: green;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  color: white;
  
}

button.hitung {
  background-color: lightblue;
  border-radius: 5px;
}

button.simpan {
  background-color: blue;
  border-radius: 5px;
  color: white;
}

a.cetak {
  background-color: purple;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 5px;
}

a.cetaksemua {
  background-color: black;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 5px;
  z-index: 999;
  margin-right: 40px;
}
/*table.scroll {
    width:50%;
    border:1px #a9c6c9 solid;
    margin: auto;
  }
  table.scroll thead {
    display:block;
    width:100%;
    background-color: salmon;
  }
  table.scroll tbody {
    display:block;
    height:100px;
    overflow:auto;
    float:left;
    width:100%;
  }
  table.scroll tbody tr {
    display:table;
    width:100%;
  }
  table.scroll th, td {
    width:33%;
    padding:8px;
  }*/
  /*.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 400px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}*/

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 500px;
}